# Build directories
/build/
/cmake-build-*/

CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Object & dependency files
*.o
*.obj
*.lo
*.slo
*.d

# Precompiled headers
*.gch
*.pch

# Libraries
*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Fortran modules
*.mod
*.smod

# Misc
*.log
*~
